<div data-aos="zoom-in">
	<br />
	<button class="btn btn-primary float-right" id="btn-novo">Novo</button>
	<h4>Cadastro de Cartão de Crédito</h4>
	<hr />

	<table id="datatable" class="table table-striped" style="width:100%">
		<thead class='thead-dark'>
			<tr>
				<th>Nome</th>
                <th>Limite</th>
                <th>Fechamento</th>
                <th>Vencimento</th>
				<th class='dt-head-right'>Atualizado</th>
			</tr>
		</thead>
	</table>
	<br />
</div>

<script src='js/cartao.js'></script>