<h3 id="nome-usuario" class="text-center"></h3>
<hr>
<div class="row">
	<div class="col-sm-10">
	</div>
	<div class="col-sm-2">
		<div class='card shadow bg-success text-white text-center'>
			<h2 class='card-title' id='saldo-geral'>0</h2>
			<div class='card-text'>Saldo Geral<br></div>
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-contas"></canvas>
		</div>
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-dt-conta"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-receita"></canvas>
		</div>
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-despesa"></canvas>
		</div>
	</div>
</div>
<br>
<script src="js/dashboard.js"></script>