<h3 id="nome-usuario" class="text-center"></h3>
<hr>
<div class="row">
	<div class="col-sm-4">
		<div class='card shadow bg-success text-white text-center'>
			<h2 class='card-title'>R$ <span id='receita-diaria'>0</span></h2>
			<div class='card-text'>Todal de Contas para receber hoje: <b><span id="qtd_receita">0</span></b><br></div>
			<button type="button" class="btn btn-success" id="btn">Ver Detalhes</button>
		</div>
	</div>
	<div class="col-sm-4">
		<div class='card shadow bg-primary text-white text-center'>
			<h2 class='card-title'>R$ <span id='saldo-geral'>0</span></h2>
			<div class='card-text'>Saldo Geral</div>
			<button type="button" class="btn btn-primary">Ver Detalhes</button>
		</div>
	</div>
	<div class="col-sm-4">
		<div class='card shadow bg-danger text-white text-center'>
			<h2 class='card-title'>R$ <span id='despesa-diaria'>0</span></h2>
			<div class='card-text'>Todal de Contas para pagar hoje: <b><span id="qtd_despesa">0</span></b><br></div>
			<button type="button" class="btn btn-danger">Ver Detalhes</button>
		</div>
	</div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-contas"></canvas>
		</div>
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-dt-conta"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-receita"></canvas>
		</div>
		<div class="col-sm-6 card shadow h-40">
			<canvas id="painel-despesa"></canvas>
		</div>
	</div>
</div>
<br>
<script src="js/dashboard.js"></script>