<form role="form">
    <div class="modal-header">
        <h4 class='modal-title'></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
    </div>
    <div class="modal-body">
        <table id="datatable" class="table table-striped" style="width:100%">
            <thead class='thead-dark'>
                <tr>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th class='dt-head-right'>Data</th>
                </tr>
            </thead>
        </table>
    </div>
</form>

<script src='js/detalhes.js'></script>