<form role="form">
    <div class="modal-header">
        <h4 class='modal-title'></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">&times;</button>
    </div>
    <div class="modal-body">
        <input type='hidden' name='idtramitacao'>
        <div class="form-group" hidden>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radio-cartao" name="gender" value="cartao">
                <label class="form-check-label" for="radio-cartao">Cartão de Crédito</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="radio-conta" name="gender" value="conta">
                <label class="form-check-label" for="radio-conta">Conta Bancária</label><br>
            </div>
        </div>
        <div class="form-group" id="form-conta">
            <label for='idconta'>Conta</label>
            <div id='div-idconta'>
                <select class='form-control selectpicker' id='idconta' name='idconta' data-live-search='true'></select>
            </div>
        </div>
        <div class="form-group" id="form-cartao">
            <label for='idcartao'>Cartão</label>
            <div id='div-idconta'>
                <select class='form-control selectpicker' id='idcartao' name='idcartao' data-live-search='true'></select>
            </div>
        </div>
        <div class='form-group'>
            <label for='descricao'>Descrição</label>
            <input class='form-control' type='text' id='descricao' name='descricao'
            placeholder='Digite a descrição' required>
        </div>
        <div class="form-group">
            <label for='categoria'>Categoria</label>
            <div id='div-categoria'>
                <select class='form-control selectpicker' id='categoria' name='categoria' data-live-search='true'
                required></select>
            </div>
        </div>
        <div class="form-group">
            <div class='row'>
                <div class="col-sm-4">
                    <label for='tipo_tramitacao'>Tipo de Tramitação</label>
                    <select class='form-control' id='tipo_tramitacao' name='tipo_tramitacao' data-live-search='true' required>
                        <option>RECEITA</option>
                        <option>DESPESA</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for='valor'>Valor</label>
                    <input class='form-control' type='number' id='valor' name='valor'
                    placeholder='Digite o valor' required>
                </div>
                <div class="col-sm-4">
                    <label for='data'>Data</label>
                    <input class='form-control' type='date' id='data' name='data' required>
                </div>
            </div>
        </div>
        <div class="form-check">
			<input class="form-check-input" type="checkbox" id="fixo" name='fixo'>
			<label class="form-check-label" for="fixo">Fixo</label>
		</div>
    </div>
    <div class="modal-footer">
        <button class='btn btn-success' type='submit'>Salvar</button>
        <button class='btn btn-danger' type='button' id='btn-excluir'>Excluir</button>
    </div>
</form>

<script src='js/tramitacao-form.js'></script>
